{% extends "layout/base.html" %}

{% block content %}
{% if messages %}
<div class="alert alert-success py-2">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

<button type="submit" class="btn btn-success create-btn">
    <a href="{% url 'dashboard.slider.create' %}" class="create">Create</a>
  
</button>
<div class="card shadow-sm">
    <!-- <div class="card-header bg-white">
        <h5 class="mb-0">Recent Orders</h5>
    </div> -->
    <div class="table-responsive">
        <table class="table table-hover mb-0">
            <thead class="table-light">
                <tr>
                    <th>#</th>
                    <th>image</th>
                    <th>title</th>
                    <th>Sub-Title</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                
               {% for i in slider_data %}
                 
              
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{% if i.image %}
                        <img src="{{ i.image.url }}" alt="#" width="100" height="100">
                        {% else %}
                        No image
                        {% endif %}</td>
                    <td>Mouse</td>
                    <td><span class="badge bg-danger">{{i.title}}</span></td>
                    <td>{{ i.sub_title }}</td>
                    <td>{{i.description }}</td>
                     <td class="d-flex gap-3">
                        <a href="{% url 'dashboard.slider.edit' i.id %}"><i
                                class="bi bi-pencil-square text-primary"></i></a>
                        <a href="{% url 'dashboard.slider.delete' i.id %}"><i
                                class="bi bi-trash3-fill text-danger"></i></a>
                    </td>
                </tr>
                 {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}