{% load static %}
<!DOCTYPE html>
<html lang="zxx">



<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>Bluepeak Consulting</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/bluepeak_title_logo.webp' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000&display=swap" rel="stylesheet">

    <!-- CSS FILES -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/slicknav.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'css/mousecursor.css' %}" rel="stylesheet">

    <!--  CUSTOM CSS MUST BE LAST -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
</head>

<body>


    <!-- Header Start -->
    <header class="main-header">
        <div class="header-sticky">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Logo Start -->
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'images/bluepeak_logo.png' %}" alt="Logo">
                    </a>
                    <!-- Logo End -->

                    <!-- Main Menu Start -->
                    <div class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto" id="menu">
                                <li class="nav-item "><a class="nav-link" href="#">Home</a>
                                   
                                </li>
                                <li class="nav-item"><a class="nav-link" href="about.html">About Us</a>
                                <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Why Us</a></li>
                                <!-- submenu -->
                                <li class="nav-item "><a class="nav-link" href="#">Pages</a>
                                   
                                </li>
                                <li class="nav-item highlighted-menu"><a class="nav-link" href="#">Contact Us</a></li>
                            </ul>
                        </div>
                        <!-- Header Btn Start -->
                        <div class="header-btn d-inline-flex">
                            <a href="#" class="btn-default btn-highlighted">contact us</a>
                        </div>
                        <!-- Header Btn End -->
                    </div>
                    <!-- Main Menu End -->
                    <div class="navbar-toggle"></div>
                </div>
            </nav>
            <div class="responsive-menu"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Start -->
    <div class="hero hero-bg-image hero-slider-layout">
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- Hero Slide Start -->
                <div class="swiper-slide">
                    <div class="hero-slide">
                        <!-- Slider Image Start -->
                        <div class="hero-slider-image">
                            <img src="{% static '/images/slider_01.webp' %}" alt="">
                        </div>
                        <!-- Slider Image End -->

                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-12">
                                    <!-- Hero Content Start -->
                                    <div class="hero-content">
                                        <!-- Section Title Start -->
                                        <div class="section-title dark-section slider-title">
                                            <h3 class="wow fadeInUp">Welcome to BluePeak Consulting</h3>
                                            <h1 class="text-anime-style-2" data-cursor="-opaque">
                                                <span>Strategic</span> solutions for sustainable business growth
                                            </h1>
                                            <p class="wow fadeInUp slider-para" data-wow-delay="0.2s">
                                                Our consulting approach connects strategy with action to help your
                                                business scale and succeed sustainable success.
                                            </p>
                                        </div>
                                        <!-- Section Title End -->

                                        <!-- Hero Content Body Start -->
                                        <div class="hero-content-body wow fadeInUp" data-wow-delay="0.4s">
                                            <!-- Hero Button Start -->
                                            <div class="hero-btn">
                                                <a href="#" class="btn-default">Contact</a>
                                            </div>
                                            <!-- Hero Button End -->

                                            <!-- Hero Introduction Video Start -->
                                            <div class="hero-introduction-video">
                                                <!-- Video Play Button Start -->
                                                <div class="hero-btn">
                                                    <a href="#" class="btn-default">Explore</a>
                                                </div>
                                                <!-- Video Play Button End -->
                                            </div>
                                            <!-- Hero Introduction Video End -->
                                        </div>
                                        <!-- Hero Content Body End -->
                                    </div>
                                    <!-- Hero Content End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Slide End -->

                <!-- Hero Slide Start -->
                <div class="swiper-slide">
                    <div class="hero-slide">
                        <!-- Slider Image Start -->
                        <div class="hero-slider-image">
                            <img src="{% static 'images/slider_img_01.webp' %}" alt="">
                        </div>
                        <!-- Slider Image End -->

                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-12">
                                    <!-- Hero Content Start -->
                                    <div class="hero-content">
                                        <!-- Section Title Start -->
                                        <div class="section-title dark-section slider-title">
                                            <h3 class="wow fadeInUp">welcome to BluePeak Consulting</h3>
                                            <h1 class="text-anime-style-2" data-cursor="-opaque">
                                                <span>Strategic</span>
                                                solutions for modern enterprises success
                                            </h1>
                                            <p class="wow fadeInUp slider-para" data-wow-delay="0.2s">
                                                From planning to execution, we deliver expert consulting services that
                                                drive
                                                performance and ensure sustainable success.
                                            </p>
                                        </div>
                                        <!-- Section Title End -->

                                        <!-- Hero Content Body Start -->
                                        <div class="hero-content-body wow fadeInUp" data-wow-delay="0.4s">
                                            <!-- Hero Button Start -->
                                            <div class="hero-btn">
                                                <a href="#" class="btn-default">Contact</a>
                                            </div>
                                            <!-- Hero Button End -->

                                            <!-- Hero Introduction Video Start -->
                                            <div class="hero-introduction-video">
                                                <!-- Video Play Button Start -->
                                                <div class="hero-btn">
                                                    <a href="#" class="btn-default">Explore</a>
                                                </div>
                                                <!-- Video Play Button End -->
                                            </div>
                                            <!-- Hero Introduction Video End -->
                                        </div>
                                        <!-- Hero Content Body End -->
                                    </div>
                                    <!-- Hero Content End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Hero Slide End -->
            </div>
            <div class="hero-pagination"></div>
        </div>
    </div>
    <!-- Hero Section End -->

    <!-- About Us Section Start -->
    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- About Us Images Start -->
                    <div class="about-us-images">
                        <!-- About Image 1 Start -->
                        <div class="about-img-1">
                            <figure class="image-anime reveal">
                                <img src="{% static '/images/about_us.webp' %}" alt="">
                            </figure>
                        </div>
                        <!-- About Image 1 End -->

                        <!-- About Image 2 Start -->
                        <div class="about-img-2">
                            <figure class="image-anime reveal">
                                <img src="{% static 'images/about_us03.webp' %}" alt="">
                            </figure>
                        </div>
                        <!-- About Image 2 End -->

                        <!-- Contact Circle Start -->
                        <!-- <div class="contact-circle">
                            <img src="images/contact-us-img.svg" alt="">
                        </div> -->
                        <!-- Contact Circle End -->
                    </div>
                    <!-- About Us Images End -->
                </div>

                <div class="col-lg-6">
                    <!-- About Us Content Start -->
                    <div class="about-us-content">
                        <!-- Section Title Start -->
                        <div class="section-title ">
                            <h3 class="wow fadeInUp">About us</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Building Stronger <span>Businesses
                                    Every Day</span> </h2>
                            <p class="wow fadeInUp about-content" data-wow-delay="0.2s">BluePeak Consulting is a modern
                                business
                                consultancy dedicated to helping organizations grow with confidence. We combine
                                strategic expertise, industry knowledge, and innovative solutions to deliver measurable
                                success. Our approach is focused on clarity, execution, and long-term value creation for
                                every client we serve.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- About Content body Start -->
                        <div class="about-content-body">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <!-- About Content Info Start -->
                                    <div class="about-content-info">
                                        <!-- About Goal Box Start -->
                                        <div class="about-goal-box wow fadeInUp" data-wow-delay="0.4s">
                                            <!-- <div class="icon-box">
                                                <img src="images/icon-financial-strategies.svg" alt="">
                                            </div> -->

                                            <div class="about-goal-box-content">
                                                <h3>Our Mission</h3>
                                                <ul class="about-icon">

                                                    <li><i class="fa fa-arrow-right about-arrow"></i>
                                                        To empower businesses with smart strategies and actionable
                                                        insights.</li>

                                                    <li> <i class="fa fa-arrow-right about-arrow"></i> To improve operational
                                                        efficiency and increase profitability.
                                                    </li>

                                                    <li><i class="fa fa-arrow-right about-arrow"></i> To deliver custom solutions
                                                        that drive real business impact.
                                                    </li>

                                                    <li><i class="fa fa-arrow-right about-arrow"></i> To enhance leadership
                                                        capabilities and team performance.
                                                    </li>

                                                    <li><i class="fa fa-arrow-right about-arrow"></i> To align business goals with
                                                        strategic execution plans.
                                                    </li>

                                                    <li><i class="fa fa-arrow-right about-arrow"></i> improve customer experience
                                                        and brand positioning.
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <!-- About Goal Box End -->

                                        <!-- About Contact Box Start -->
                                        <!-- <div class="about-contact-box wow fadeInUp" data-wow-delay="0.6s">
                                            <div class="icon-box">
                                                <img src="images/icon-phone.svg" alt="">
                                            </div>

                                            <div class="about-contact-content">
                                                <p><a href="tel:658456975">+(658) 456-975</a></p>
                                            </div>
                                        </div> -->
                                        <!-- About Contact Box End -->
                                    </div>
                                    <!-- About Content Info End -->
                                </div>

                                <!-- <div class="col-md-6">
                                   
                                    <div class="about-author-box wow fadeInUp" data-wow-delay="0.4s">
                                        
                                        <div class="about-info-box">
                                            <figure class="image-anime reveal">
                                                <img src="images/author-1.jpg" alt="">
                                            </figure>

                                            <div class="about-author-content">
                                                <h3>Sarah T.</h3>
                                                <p>Co. founder</p>
                                            </div>
                                        </div>
                                        
                                        <div class="about-info-list">
                                            <ul>
                                                <li>risk management</li>
                                                <li>communication</li>
                                                <li>24/7 support</li>
                                            </ul>
                                        </div>
                                        <
                                    </div>
                                    
                                </div> -->
                            </div>
                        </div>
                        <!-- About Content body End -->
                    </div>
                    <!-- About Us Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Section End -->

    <!-- Our Services Section Start -->
    <div class="our-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <!-- Service Content Start -->
                    <div class="our-service-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">services</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Driving Growth Through
                                <span>Expert Consulting</span>
                            </h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Section content Button Start -->
                        <div class="service-content-btn wow fadeInUp" data-wow-delay="0.25s">
                            <a href="#" class="btn-default">all services</a>
                        </div>
                        <!-- Section content Button End -->
                    </div>
                    <!-- Service Content End -->
                </div>

                <div class="col-lg-8">
                    <!-- Our Service List Start -->
                    <div class="our-service-list">
                        <!-- Service Item Start -->
                        <div class="service-item">
                            <div class="service-no">
                                <h2>01</h2>
                            </div>
                            <div class="service-content-box">
                                <div class="icon-box">
                                    <img src="{% static 'images/analysis.png' %}" alt="">
                                </div>

                                <div class="service-item-content">
                                    <h3>Business Strategy</h3>
                                    <p class="service-para">We help businesses define goals, identify opportunities, and
                                        build powerful
                                        growth strategies that drive long-term profitability and market leadership.</p>
                                    <!-- <a href="service-single.html" class="service-btn"><img src="images/arrow-white.svg"
                                            alt=""></a> -->
                                </div>
                            </div>
                        </div>
                        <!-- Service Item End -->

                        <!-- Service Item Start -->
                        <div class="service-item">
                            <div class="service-no">
                                <h2>02</h2>
                            </div>
                            <div class="service-content-box">
                                <div class="icon-box">
                                    <img src="{% static 'images/advisory.png' %}" alt="">
                                </div>

                                <div class="service-item-content">
                                    <h3>Financial Advisory</h3>
                                    <p class="service-para">Our financial experts guide you in budgeting, forecasting,
                                        risk management, and
                                        investment planning to strengthen your financial foundation and improve returns.
                                    </p>
                                    <!-- <a href="service-single.html" class="service-btn"><img src="images/arrow-white.svg"
                                            alt=""></a> -->
                                </div>
                            </div>
                        </div>
                        <!-- Service Item End -->

                        <!-- Service Item Start -->
                        <div class="service-item">
                            <div class="service-no">
                                <h2>03</h2>
                            </div>
                            <div class="service-content-box">
                                <div class="icon-box">
                                    <img src="{% static 'images/consulting.png' %}" alt="">
                                </div>

                                <div class="service-item-content">
                                    <h3>Management Consulting</h3>
                                    <p class="service-para">We work with leadership teams to improve decision-making,
                                        streamline management
                                        systems, and build strong organizational structures.</p>
                                    <!-- <a href="service-single.html" class="service-btn"><img src="images/arrow-white.svg"
                                            alt=""></a> -->
                                </div>
                            </div>
                        </div>
                        <!-- Service Item End -->

                        <!-- Service Item Start -->
                        <div class="service-item">
                            <div class="service-no">
                                <h2>04</h2>
                            </div>
                            <div class="service-content-box">
                                <div class="icon-box">
                                    <img src="{% static 'images/digital-marketing.png' %}" alt="">
                                </div>

                                <div class="service-item-content">
                                    <h3>Marketing & Branding</h3>
                                    <p class="service-para">From brand identity to digital strategy, we create marketing
                                        solutions that
                                        attract customers, drive engagement, and increase brand value.</p>
                                    <!-- <a href="service-single.html" class="service-btn"><img src="images/arrow-white.svg"
                                            alt=""></a> -->
                                </div>
                            </div>
                        </div>
                        <!-- Service Item End -->

                        <!-- Service Item Start -->
                        <div class="service-item">
                            <div class="service-no">
                                <h2>05</h2>
                            </div>
                            <div class="service-content-box">
                                <div class="icon-box">
                                    <img src="{% static 'images/resource-allocation.png' %}" alt="">
                                </div>

                                <div class="service-item-content">
                                    <h3>Operations Optimization</h3>
                                    <p class="service-para">We analyze workflows and systems to eliminate
                                        inefficiencies, reduce costs, and
                                        improve productivity through smarter processes.</p>
                                    <!-- <a href="service-single.html" class="service-btn"><img src="images/arrow-white.svg"
                                            alt=""></a> -->
                                </div>
                            </div>
                        </div>
                        <!-- Service Item End -->

                        <!-- Service Item Start -->
                        <div class="service-item">
                            <div class="service-no">
                                <h2>06</h2>
                            </div>
                            <div class="service-content-box">
                                <div class="icon-box">
                                    <img src="{% static 'images/data-transformation.png' %}" alt="">
                                </div>

                                <div class="service-item-content">
                                    <h3>Digital Transformation</h3>
                                    <p class="service-para">We help your business adopt modern technology to improve
                                        operations, customer
                                        experience, and data-driven decision making.</p>
                                    <!-- <a href="service-single.html" class="service-btn"><img src="images/arrow-white.svg"
                                            alt=""></a> -->
                                </div>
                            </div>
                        </div>
                        <!-- Service Item End -->
                    </div>
                    <!-- Our Service List End -->

                    <!-- Service Footer Start -->
                    <!-- <div class="service-footer wow fadeInUp" data-wow-delay="0.8s">
                        <p>Let's make something great work together. <a href="#">Get Free Quote</a></p>
                    </div> -->
                    <!-- Service Footer End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Services Section End -->

    <!-- Why Choose Us Section Start -->
    <div class="why-choose-us">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <!-- Why Choose Content Start -->
                    <div class="why-choose-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">why choose us</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Your Trusted Partner for <span>Business
                                    Excellence</span>
                            </h2>
                        </div>
                        <!-- Section Title End -->

                        <!-- Why Choose Box List Start -->
                        <div class="why-choose-box-list">
                            <!-- Why Choose Box Start -->
                            <div class="why-choose-box wow fadeInUp" data-wow-delay="0.2s">
                                <div class="icon-box">
                                    <img src="{% static 'images/expertise.png' %}" alt="">
                                </div>

                                <div class="why-choose-box-content">
                                    <h3>Industry Experts</h3>
                                    <p class="why-choose-us-para">Our consultants bring deep industry knowledge and
                                        real-world expertise to deliver
                                        practical and impactful business solutions.</p>
                                </div>
                            </div>
                            <!-- Why Choose Box End -->

                            <!-- Why Choose Box Start -->
                            <div class="why-choose-box wow fadeInUp" data-wow-delay="0.2s">
                                <div class="icon-box">
                                    <img src="{% static 'images/trust.png' %}" alt="">
                                </div>

                                <div class="why-choose-box-content">
                                    <h3>Trusted by Clients</h3>
                                    <p class="why-choose-us-para">Our long-term client relationships are driven by
                                        trust, transparency, and the
                                        success stories we help create.</p>
                                </div>
                            </div>
                            <!-- Why Choose Box End -->
                        </div>
                        <!-- Why Choose Box List End -->

                        <!-- Why Choose List Start -->
                        <div class="why-choose-list wow fadeInUp" data-wow-delay="0.4s">
                            <ul>
                                <li>Custom Solutions</li>
                                <li>Proven Frameworks</li>
                                <li>Result-Driven Approach</li>
                                <li>Transparent Process</li>
                            </ul>
                        </div>
                        <!-- Why Choose List End -->
                    </div>
                    <!-- Why Choose Content End -->
                </div>

                <div class="col-lg-6">
                    <!-- Why Choose Image Start -->
                    <div class="why-choose-image">
                        <!-- Why Choose Image 1 Start -->
                        <div class="why-choose-img-1">
                            <figure class="image-anime reveal">
                                <img src="{% static 'images/why_01.webp' %}" alt="">
                            </figure>
                        </div>
                        <!-- Why Choose Image 1 End -->

                        <!-- Why Choose Image 2 Start -->
                        <div class="why-choose-img-2">
                            <figure class="image-anime reveal">
                                <img src="{% static 'images/why_02.webp' %}" alt="">
                            </figure>
                        </div>
                        <!-- Why Choose Image 2 End -->

                        <!-- Why Choose Contact Circle Start -->
                        <!-- <div class="why-choose-contact-circle">
                            <img src="images/contact-us-img.svg" alt="">
                        </div> -->
                        <!-- Why Choose Contact Circle Start -->
                    </div>
                    <!-- Why Choose Image End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Us Section End -->

   

    <!-- Some Fact Section Start -->
    <div class="fact-counter">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <!-- Fact Counter Image Start -->
                    <div class="fact-counter-image">
                        <!-- Fact Counter img Start -->
                        <div class="fact-counter-img">
                            <figure class="image-anime reveal">
                                <img src="{% static 'images/facts_01.webp' %}" alt="">
                            </figure>
                        </div>
                        <!-- Fact Counter img End -->

                        <!-- Fact Counter Skillbar Start -->
                        <!-- <div class="fact-counter-skillbar">
                            <img src="images/fact-counter-skillbar-img.png" alt="">
                        </div> -->
                        <!-- Fact Counter Skillbar End -->
                    </div>
                    <!-- Fact Counter Image End -->
                </div>

                <div class="col-lg-6">
                    <!-- Fact Counter Content Start -->
                    <div class="fact-counter-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">Facts & Achievements</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">Our Success in <span>Numbers</span>
                            </h2>
                            <p class="wow fadeInUp facts-para" data-wow-delay="0.2s">Our success is driven by strong
                                client
                                relationships built on transparency, integrity, and consistent performance.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Fact Counter Box List Start -->
                        <div class="fact-counter-box-list">
                            <!-- Fact Counter Box Start -->
                            <div class="fact-counter-card fact-counter-box-content">
                                <h2><span class="counter">15</span>+</h2>

                                <p class="facts-para">Experience</p>
                            </div>
                            <!-- Fact Counter Box End -->

                            <!-- Fact Counter Box Start -->
                            <div class="fact-counter-box">
                                <!-- <div class="icon-box">
                                    <img src="images/icon-fact-counter-2.svg" alt="">
                                </div> -->

                                <div class="fact-counter-box-content fact-counter-card">
                                    <h2><span class="counter"> 350</span>+</h2>
                                    <p class="facts-para">Projects</p>
                                </div>
                            </div>
                            <!-- Fact Counter Box End -->

                            <!-- Fact Counter Box Start -->
                            <div class="fact-counter-box">
                                <!-- <div class="icon-box">
                                    <img src="images/icon-fact-counter-3.svg" alt="">
                                </div> -->

                                <div class="fact-counter-box-content fact-counter-card">
                                    <h2><span class="counter">200</span>+</h2>
                                    <p class="facts-para">Clients </p>
                                </div>
                            </div>
                          
                            <div class="fact-counter-box">
                                <!-- <div class="icon-box">
                                    <img src="images/icon-fact-counter-3.svg" alt="">
                                </div> -->

                                <div class="fact-counter-box-content fact-counter-card">
                                    <h2><span class="counter">25</span>+</h2>
                                    <p class="facts-para">Experts </p>
                                </div>
                            </div>
                            <!-- Fact Counter Box End -->
                        </div>
                        <!-- Fact Counter Box List End -->

                        <!-- Fact Counter List Start -->
                        <div class="fact-counter-list wow fadeInUp" data-wow-delay="0.4s">
                            <ul>
                                <li>Proven Experience</li>
                                <li>Successful Projects</li>
                                <li>Trusted Relationships</li>
                                <li>Certified Experts</li>
                            </ul>
                        </div>
                        <!-- Fact Counter List End -->
                    </div>
                    <!-- Fact Counter Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Some Fact Section End -->

   

    <!-- call to action section start-->
    <div class="call-to-action">
        <div class="call_op"></div>
        <div class="row">
            <div class="col-lg-6 col-sm-12 mt-3">
                <h2>Let's discuss about how we can help
                    make your business better</h2>
            </div>
            <div class="col-lg-6 col-sm-12 btn-right mt-3">
                <div class="hero-btn">
                    <a href="#" class="btn-cta">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <!-- call to action section end-->

    <!-- Our Testimonial Section Start -->
    <div class="our-testimonial">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <!-- Testimonial Content Start -->
                    <div class="testimonial-content">
                        <!-- Section Title Start -->
                        <div class="section-title dark-section">
                            <h3 class="wow fadeInUp">Client Experiences</h3>
                            <h2 class="text-anime-style-2" data-cursor="-opaque">What Our Clients Say <span>About
                                    BluePeak Consulting</span></h2>
                            <p class="wow fadeInUp testimonial-para" data-wow-delay="0.2s">Every project we lead is
                                driven by insight,
                                precision, and partnership—ensuring clients receive solutions that are practical,
                                customized, and growth-focused.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Testimonial Button Start -->
                        <div class="testimonial-btn">
                            <a href="#" class="btn-default">contact now</a>
                        </div>
                        <!-- Testimonial Button End -->
                    </div>
                    <!-- Testimonial Content End -->
                </div>

                <div class="col-lg-7">
                    <!-- Testimonial Slider Box Start -->
                    <div class="testimonial-slider-box">
                        <!-- Testimonial Slider Start -->
                        <div class="testimonial-slider">
                            <div class="swiper">
                                <div class="swiper-wrapper" data-cursor-text="Drag">
                                    <!-- Testimonial Slide Start -->
                                    <div class="swiper-slide">
                                        <!-- Testimonial Item Start -->
                                        <div class="testimonial-item">
                                            <!-- Testimonial Header Start -->
                                            <div class="testimonial-header">
                                                <!-- Customer Logo Start -->
                                                <!-- <div class="customer-logo">
                                                    <img src="images/customer-logo.svg" alt="">
                                                </div> -->
                                                <!-- Customer Logo End -->

                                                <!-- Testimonial Quotes Start -->
                                                <div class="testimonial-quotes">
                                                    <img src="{% static 'images/quotes.png' %}" alt="">
                                                </div>
                                                <!-- Testimonial Quotes End -->
                                            </div>
                                            <!-- Testimonial Header End -->

                                            <!-- Testimonial Body Start -->
                                            <div class="testimonial-body">
                                                <p>“BluePeak Consulting transformed our business strategy and helped us
                                                    achieve consistent growth within a short period. Their insights were
                                                    practical, focused, and extremely valuable.”</p>
                                            </div>
                                            <!-- Testimonial Body End -->

                                            <!-- Testimonial Author Start -->
                                            <div class="testimonial-author">
                                                <!-- Author Image Start -->
                                                <div class="author-image">
                                                    <figure class="image-anime">
                                                        <img src="{% static 'images/test_01.webp' %}" alt="">
                                                    </figure>
                                                </div>
                                                <!-- Author Image End -->

                                                <!-- Author Content Start -->
                                                <div class="author-content">
                                                    <h3>Rahul Mehta / <span>Founder, GrowthEdge Solutions</span></h3>
                                                </div>
                                                <!-- Author Content End -->
                                            </div>
                                            <!-- Testimonial Author End -->
                                        </div>
                                        <!-- Testimonial Item End -->
                                    </div>
                                    <!-- Testimonial Slide End -->

                                    <!-- Testimonial Slide Start -->
                                    <div class="swiper-slide">
                                        <!-- Testimonial Item Start -->
                                        <div class="testimonial-item">
                                            <!-- Testimonial Header Start -->
                                            <div class="testimonial-header">
                                                <!-- Customer Logo Start -->
                                                <!-- <div class="customer-logo">
                                                    <img src="images/customer-logo.svg" alt="">
                                                </div> -->
                                                <!-- Customer Logo End -->

                                                <!-- Testimonial Quotes Start -->
                                                <div class="testimonial-quotes">
                                                    <img src="{% static 'images/quotes.png' %}" alt="">
                                                </div>
                                                <!-- Testimonial Quotes End -->
                                            </div>
                                            <!-- Testimonial Header End -->

                                            <!-- Testimonial Body Start -->
                                            <div class="testimonial-body">
                                                <p>“The team at BluePeak brought clarity to our financial structure and
                                                    operations. Their approach is professional, transparent, and
                                                    result-driven.”</p>
                                            </div>
                                            <!-- Testimonial Body End -->

                                            <!-- Testimonial Author Start -->
                                            <div class="testimonial-author">
                                                <!-- Author Image Start -->
                                                <div class="author-image">
                                                    <figure class="image-anime">
                                                        <img src="{% static 'images/test_03.avif' %}" alt="">
                                                    </figure>
                                                </div>
                                                <!-- Author Image End -->

                                                <!-- Author Content Start -->
                                                <div class="author-content">
                                                    <h3>Ananya Kapoor / <span>Director, AK Enterprises</span></h3>
                                                </div>
                                                <!-- Author Content End -->
                                            </div>
                                            <!-- Testimonial Author End -->
                                        </div>
                                        <!-- Testimonial Item End -->
                                    </div>
                                    <!-- Testimonial Slide End -->

                                    <!-- Testimonial Slide Start -->
                                    <div class="swiper-slide">
                                        <!-- Testimonial Item Start -->
                                        <div class="testimonial-item">
                                            <!-- Testimonial Header Start -->
                                            <div class="testimonial-header">
                                                <!-- Customer Logo Start -->
                                                <!-- <div class="customer-logo">
                                                    <img src="images/customer-logo.svg" alt="">
                                                </div> -->
                                                <!-- Customer Logo End -->

                                                <!-- Testimonial Quotes Start -->
                                                <div class="testimonial-quotes">
                                                    <img src="{% static 'images/quotes.png' %}" alt="">
                                                </div>
                                                <!-- Testimonial Quotes End -->
                                            </div>
                                            <!-- Testimonial Header End -->

                                            <!-- Testimonial Body Start -->
                                            <div class="testimonial-body">
                                                <p>“From branding to operations, BluePeak Consulting provided us with a
                                                    complete roadmap to scale our business effectively. Highly
                                                    recommended for growing companies.”</p>
                                            </div>
                                            <!-- Testimonial Body End -->

                                            <!-- Testimonial Author Start -->
                                            <div class="testimonial-author">
                                                <!-- Author Image Start -->
                                                <div class="author-image">
                                                    <figure class="image-anime">
                                                        <img src="{% static 'images/test_02.webp' %}" alt="">
                                                    </figure>
                                                </div>
                                                <!-- Author Image End -->

                                                <!-- Author Content Start -->
                                                <div class="author-content">
                                                    <h3>Vikram Reddy / <span>CEO, NexaCorp India</span></h3>
                                                </div>
                                                <!-- Author Content End -->
                                            </div>
                                            <!-- Testimonial Author End -->
                                        </div>
                                        <!-- Testimonial Item End -->
                                    </div>
                                    <!-- Testimonial Slide End -->
                                </div>
                                <div class="testimonial-pagination"></div>
                            </div>
                        </div>
                        <!-- Testimonial Slider End -->

                        
                    </div>
                    <!-- Testimonial Slider Box End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Testimonial Section End -->

 

    <!-- Footer Section Start -->
    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12">
                    <div class="footer-about">
                        <img src="{% static 'images/bluepeak_logo.png' %}" alt="">
                        <div class="footer-about-content ">
                            <p>BluePeak Consulting is a modern business consultancy dedicated to helping organizations
                                grow with confidence.</p>
                        </div>
                    </div>
                    <!-- Footer Newsletter Box Start -->
                    <!-- <div class="footer-newsletter-box">
                       
                        <div class="footer-newsletter-title">
                            <h3>Subscribe to our Newsletter</h3>
                        </div>
                       
                        <div class="newsletter-form">
                            <form id="newsletterForm" action="#" method="POST">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" id="mail"
                                        placeholder="Enter Your Email" required="">
                                    <button type="submit" class="newsletter-btn">Submit</button>
                                </div>
                            </form>
                        </div>
                        
                    </div> -->

                </div>

                <div class="col-lg-3 col-md-4 col-12">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>Quick links</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Testimonials</a></li>
                            <li><a href="#">Contact US</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <div class="col-lg-3 col-md-4 col-12">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Business Strategy</a></li>
                            <li><a href="#">Financial Advisory</a></li>
                            <li><a href="#">Management Consulting</a></li>
                            <li><a href="#">Marketing & Branding</a></li>
                            <li><a href="#">Operations Optimization</a></li>
                            <li><a href="#">Digital Transformation</a></li>
                        </ul>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <div class="col-lg-3  col-md-4 col-12">
                    <!-- Footer Links Start -->
                    <div class="footer-links">
                        <h3>Contact</h3>
                        <div class="social_ifo">
                            <div class="info">
                                <i class="fa-solid fa-phone"></i>
                                <a href="#" class="info-contact">91+ 9000800011</a>
                            </div>
                            <div class="info">
                                <i class="fa-solid fa-envelope" aria-hidden="true"></i>
                                <a href="#" class="info-contact">info@gmail.com</a>
                            </div>
                            <div class="info">
                                <i class="fa-solid fa-location-dot"></i>
                                <a href="#" class="info-contact">Hyderabad,Uppal</a>
                            </div>
                        </div>
                    </div>
                    <!-- Footer Links End -->
                </div>

                <!-- <div class="col-lg-12">
                    
                    <div class="footer-cta-box">
                       
                        <div class="footer-logo">
                            <img src="images/footer-logo.svg" alt="">
                        </div>
                      
                        <div class="footer-contact-box">
                           
                            <div class="footer-contact-item">
                                <p>Need help!</p>
                                <h3>+1 809 120 705</h3>
                            </div>
                            
                            <div class="footer-contact-item">
                                <p>E-mail now</p>
                                <h3>info@domain.com</h3>
                            </div>
                           
                        </div>
                        
                    </div>
                    
                </div> -->
            </div>

            <!-- Footer Copyright Section Start -->
            <div class="footer-copyright">
                <div class="row align-items-center">
                    <div class="col-md-5">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copyright-text">
                            <p>Copyright © Bluepeak 2025 All Rights Reserved.</p>
                        </div>
                        <!-- Footer Copyright End -->
                    </div>

                    <div class="col-md-7">
                        <!-- Footer Menu Start -->
                        <div class="footer-menu">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-x-twitter last_icons"></i></a> </li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in last_icons"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-facebook-f last_icons"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-instagram last_icons"></i></a></li>

                            </ul>
                        </div>
                        <!-- Footer Menu End -->
                    </div>
                </div>
            </div>
            <!-- Footer Copyright Section End -->
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Jquery Library File -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <!-- Bootstrap js file -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Validator js file -->
    <script src="{% static 'js/validator.min.js' %}"></script>
    <!-- SlickNav js file -->
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <!-- Swiper js file -->
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <!-- Counter js file -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <!-- Magnific js file -->
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <!-- SmoothScroll -->
    <script src="{% static 'js/SmoothScroll.js' %}"></script>
    <!-- Parallax js -->
    <script src="{% static 'js/parallaxie.js' %}"></script>
    <!-- MagicCursor js file -->
    <script src="{% static 'js/gsap.min.js' %}"></script>
    <script src="j{% static 'js/magiccursor.js' %}"></script>
    <!-- Text Effect js file -->
    <script src="{% static 'js/SplitText.js' %}"></script>
    <script src="{% static 'js/ScrollTrigger.min.js' %}"></script>
    <!-- YTPlayer js File -->
    <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
    <!-- Wow js file -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- Main Custom js file -->
    <script src="{% static 'js/function.js' %}"></script>
    <script src="{% static '../../demo.awaikenthemes.com/assets/js/theme-panel.js' %}"></script>
</body>



</html>