{% extends "layout/base.html" %}

{% block content %}
<div class="container my-5">
    <form method="POST" enctype="multipart/form-data" action="{% url 'dashboard.about.update' about_edit.id %}"
        class="card p-4 shadow col-lg-8 mx-auto">

        {% csrf_token %}

        <!-- TITLE -->
        <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" name="title" value="{{ about_edit.title }}" class="form-control" required>
        </div>

        <!-- SUB TITLE -->
        <div class="mb-3">
            <label class="form-label">Sub Title</label>
            <input type="text" name="sub_title" value="{{ about_edit.sub_title }}" class="form-control" required>
        </div>

        <!-- SUB HEADING -->
        <div class="mb-3">
            <label class="form-label">Mission</label>
            <input type="text" name="sub_heading" value="{{ about_edit.sub_heading }}" class="form-control" required>
        </div>

        <!-- DESCRIPTION -->
        <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea name="description" rows="4" class="form-control" required>{{ about_edit.description }}</textarea>
        </div>

        <!-- IMAGE 1 -->
        <div class="mb-3">
            <label class="form-label">Image 1</label>
            <input type="file" name="image1" class="form-control" accept="image/*">

            {% if about_edit.image1 %}
            <div class="mt-2">
                <small class="text-muted">Current Image:</small><br>
                <img src="{{ about_edit.image1.url }}" class="img-thumbnail mt-1" width="150">
            </div>
            {% endif %}
        </div>

        <!-- IMAGE 2 -->
        <div class="mb-3">
            <label class="form-label">Image 2</label>
            <input type="file" name="image2" class="form-control" accept="image/*">

            {% if about_edit.image2 %}
            <div class="mt-2">
                <small class="text-muted">Current Image:</small><br>
                <img src="{{ about_edit.image2.url }}" class="img-thumbnail mt-1" width="150">
            </div>
            {% endif %}
        </div>

        <!-- JSON LIST -->
        <div class="mb-3">
            <label class="form-label">Points (one per line)</label>
            <textarea name="my_list" rows="5" class="form-control"
                required>{% for i in about_edit.my_list %}
                {{ i }}
                {% if not forloop.last %}&#10;
                {% endif %}
                {% endfor %}</textarea>
        </div>

        <!-- SUBMIT -->
        <button type="submit" class="btn btn-primary w-100">
            Update About Data
        </button>

    </form>
</div>
{% endblock %}