{% extends "layout/base.html" %}

{% block content %}
<form method="POST" enctype="multipart/form-data" class="card p-4 shadow-sm" action="{% url 'dashboard.service.update' service_data.id %}">
    {% csrf_token %}

    <!-- Title -->
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="text" name="title" class="form-control" value="{{ service_data.title }}" placeholder="Enter title" required>
    </div>

    <!-- Description -->
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="description" rows="4" class="form-control" placeholder="Enter description" required>{{ service_data.description }}</textarea>
    </div>

    <!-- Image -->
    <div class="mb-3">
        <label class="form-label">Image</label>
        <input type="file" name="icon" class="form-control" accept="image/*">
        {% if service_data.icon %}
        <div class="mt-2">
            <p>Current Image:</p>
            <img src="{{ service_data.icon.url }}" alt="Current image" class="img-thumbnail" width="150">
        </div>
          
        {% endif %}
    </div>


    <button type="submit" class="btn btn-primary w-100">
        Submit
    </button>
</form>
{% endblock %}